<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="contact">

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>

<!-- Hero Section
================================================== -->

<section class="hero large-hero"
         style="background-image:url(assets/images/contactbg.jpg);">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title hidden">Contact Us</h1>
            </div>
        </div>
    </div>
</section>


<!-- Main Section
================================================== -->

<section class="main container">
    <div class="row">

        <h3 class="hidden">Contact Details</h3>

        <div class="col-lg-8 col-lg-offset-2">
            <article id="post-333"
                     class="post-333 page type-page status-publish has-post-thumbnail hentry">
                <div class="entry-content">
                    <div style="text-align:center">
                        <h2>Get in touch with us.</h2>

                        <p class="lead">Looking for something or have
                            any suggestions?
                            <br>Tell us about it!</p>

                        <div class="row">
                            <ul class="list-inline">
                                <li>
                                    <a href="http://www.facebook.com/navlitbeta"
                                       target="_blank" class="text-muted"><i
                                                class="fa fa-facebook fa-fw fa-2x"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/111599172159083175529/posts"
                                       target="_blank" class="text-muted"><i
                                                class="fa fa-google-plus fa-fw fa-2x"></i></a>
                                </li>
                                <li><a href="https://twitter.com/navlitatl"
                                       target="_blank" class="text-muted"><i
                                                class="fa fa-twitter fa-fw fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                        <hr class="small">
                        <div style="width: 600px; text-align: left; margin: 0 auto;">
                            <form action="MAILTO:team@navlit.com" method="post" enctype="text/plain">
                                <p>Fields marked with an <span
                                            class="text-warning">*</span> are
                                    required</p>
                                <input type="text" name="name" placeholder="Name*" class="form-control"><br>
                                <input type="text" name="mail" placeholder="Email*" class="form-control"><br>
                                <textarea type="text" name="comment" placeholder="Message*" rows="5"
                                          class="form-control"></textarea><br>
                                <input type="submit" class="display-block"
                                       style="margin: 0 auto; width: 50%; margin-bottom: 5px" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>