<!DOCTYPE html>
<html lang="en" class="cover">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body>

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
<!-- Header content
================================================== -->
<section id="header" style="margin-bottom:0;">
    <!-- Cover element
    ================================================== -->
    <div class="cover-wrapper"
         style="background-image: url(assets/images/hero-3.jpg)">
        <div class="cover-container overlay">
            <div class="cover-inner">
                <div class="container">
                    <h1 style="color:#fff;">Cover Template Title</h1>

                    <p class="lead">A full-page template with several custom
                        options. To get started, add the class "cover" to the
                        HTML element in the template file. Next, paste the cover
                        HTML elements into the page and start creating
                        content.</p>

                    <p>
                        <a href="#" class="btn btn-lg btn-primary">Let's
                            Start Exploring!</a>
                    </p>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.cover-inner -->
        </div>
        <!-- /.cover-container -->
    </div>
    <!-- /.cover-wrapper -->

</section>
<!-- /#header -->


</body>
</html>
