<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>


<body class="destination destinations-list">

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>

<!-- Hero Section
================================================== -->
<section class="hero small-hero"
         style="background-image:url(assets/images/hero-1.jpg);">
    <div class="bg-overlay">
        <div class="container" style="">
            <div class="intro-wrap">
                <h1 class="intro-title">Stunning Views</h1>

                <div class="intro-text">
                    <div class="taxonomy-description">
                        <p>The most stunning and beautiful places in the world
                            to take photos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Main Section
================================================== -->
<section class="main">
    <div class="container">

        <h3 class="hidden">Places</h3>

        <div class="places">

            <div class="row">
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Zermatt,
                                    Switzerland</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-10-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Queenstown,
                                    New Zealand</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-11-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Sydney,
                                    Australia</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-12-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Whitehaven
                                    Beach, Australia</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-13-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Acapulco,
                                    Mexico</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-14-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Chicago,
                                    USA</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-15-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>New
                                    York City, USA</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-16-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>San
                                    Francisco, USA</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-17-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Toronto,
                                    Canada</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-18-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Yellowstone,
                                    USA</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-19-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Buenos
                                    Aires, Argentina</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-20-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
                <div class="col-sm-4">
                    <article class="place-box card">
                        <a href="destination-sub-page.html"
                           class="place-link">
                            <header>
                                <h3 class="entry-title"><i
                                            class="fa fa-map-marker"></i>Foz
                                    do Iguacu, Brasil</h3></header>
                            <div class="entry-thumbnail"><img width="960"
                                                              height="540"
                                                              alt=""
                                                              title=""
                                                              src="assets/images/destinations-21-960x540.jpg">
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>