<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="destination destination-home">

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
<!-- Hero Section
================================================== -->
<section class="hero small-hero destination-header"
         style="background-image: url('assets/images/destination-6.jpg');">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title">San Francisco</h1>
                <!-- <div class="intro-text">
                    <p>And more text below if you need it...</p>
                </div> -->
                <ul class="breadcrumbs">
                    <!-- <li class="no-arrow"><a href="#" class="destination-context-menu"><i class="fa fa-ellipsis-v"></i><a></li> -->
                    <li class="no-arrow"><i
                                class="icon fa fa-map-marker"></i></li>
                    <li><a href="destination-parent.html">North America</a>
                    </li>
                    <li><a href="destination-sub-page.html">San Francisco,
                            USA</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Sub Navigation
================================================== -->
<div class="sub-nav">
    <div class="navbar navbar-inverse affix-top" id="SubMenu"
         style="top: 74px;">
        <div class="container">
            <div class="navbar-header"><a href="javascript:void(0)"
                                          class="navbar-brand scrollTop"><i
                            class="fa fa-fw fa-map-marker"></i> San Francisco,
                    USA</a>
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-sub">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Sub Nav Links -->
            <nav class="navbar-collapse collapse" id="navbar-sub">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="destinations-list.html">Places</a></li>
                    <li class="dropdown show-on-hover">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Information <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="guide-single.html">About</a></li>
                            <li><a href="guide-single.html">Planning a
                                    Trip</a></li>
                            <li><a href="guide-single.html">Getting Around</a>
                            </li>
                            <li><a href="guide-single.html">History &amp;
                                    Culture</a></li>
                            <li><a href="guide-single.html">Top
                                    Attractions</a></li>
                            <li><a href="guide-single.html">Travel
                                    Resources</a></li>
                            <li><a href="guide-single.html">Highlights</a>
                            </li>
                            <li><a href="guide-single.html">Events</a></li>
                            <li><a href="guide-single.html">Itineraries</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown show-on-hover">
                        <a href="directory-category.html"
                           class="dropdown-toggle" data-toggle="dropdown">Directory
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="directory-category.html">Food &amp;
                                    Drinks</a></li>
                            <li>
                                <a href="directory-category.html">Attractions</a>
                            </li>
                            <li><a href="directory-category.html">Services</a>
                            </li>
                            <li>
                                <a href="directory-category.html">Activities</a>
                            </li>
                            <li><a href="directory-category.html">Shopping</a>
                            </li>
                            <li>
                                <a href="directory-category.html">Nightlife</a>
                            </li>
                            <li><a href="directory-category.html">Tours</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Articles</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-fw fa-heart-o"></i></a>
                    </li>
                    <li class="dropdown show-on-hover">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"><i
                                    class="fa fa-fw fa-share-alt"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i
                                            class="fa fa-fw fa-facebook-official"></i>
                                    Facebook</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-twitter"></i>
                                    Twitter</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-google-plus"></i>
                                    Google +</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-pinterest"></i>
                                    Pinterest</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-instagram"></i>
                                    Instagram</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-envelope"></i>
                                    Email</a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-toggle="tooltip"
                           title="Download in PDF format."><i
                                    class="fa fa-fw fa-file-pdf-o"></i></a>
                    </li>
                    <li><a href="#" data-toggle="tooltip"
                           title="Print and take with you!"><i
                                    class="fa fa-fw fa-print"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<!-- Main Section
================================================== -->


<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-md-9 col-md-push-3 col-sm-8 col-sm-push-4">
                        <div class="clearfix">
                            <h2 class="pull-left page-title travel-dir-category-title">
                                Tours</h2>

                            <div class="pull-right navbar-right filter-listing">
                                <span>Sort by </span>

                                <div class="btn-group">

                                    <button type="button"
                                            class="btn btn-default btn-sm">
                                        <span class="fa fa-fw fa-star"></span>
                                        <span class="fa fa-fw fa-star"></span>
                                        <span class="fa fa-fw fa-star"></span>
                                        <span class="fa fa-fw fa-star"></span>
                                        <span class="fa fa-fw fa-star"></span>
                                    </button>

                                    <button type="button"
                                            class="btn btn-default btn-sm dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu nav-condensed"
                                        role="menu">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-fw fa-star"></span>
                                                <span class="fa fa-fw fa-star"></span>
                                                <span class="fa fa-fw fa-star"></span>
                                                <span class="fa fa-fw fa-star"></span>
                                                <span class="fa fa-fw fa-star"></span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="fa fa-fw fa-star-half-o"></span>
                                                <span class="fa fa-fw fa-star-o"></span>
                                                <span class="fa fa-fw fa-star-o"></span>
                                                <span class="fa fa-fw fa-star-o"></span>
                                                <span class="fa fa-fw fa-star-o"></span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="fa fa-fw fa-usd"></span>
                                                <span class="fa fa-fw fa-usd"></span>
                                                <span class="fa fa-fw fa-usd"></span>
                                                <span class="fa fa-fw fa-usd"></span>
                                                <span class="fa fa-fw fa-usd"></span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <span class="fa fa-fw fa-usd"></span>
                                                <span class="fa fa-fw fa-usd"
                                                      style="opacity:.33"></span>
                                                <span class="fa fa-fw fa-usd"
                                                      style="opacity:.33"></span>
                                                <span class="fa fa-fw fa-usd"
                                                      style="opacity:.33"></span>
                                                <span class="fa fa-fw fa-usd"
                                                      style="opacity:.33"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <section class="guide-list">

                            <h3 class="hidden">Directory Category</h3>

                            <article class="media guide-list-item">
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                                href="directory-single.html">Wine
                                            Tasting Tour</a></h4>

                                    <div class="media-description">
                                        <p>Clipper gangway bilge water avast
                                            hogshead jack belaying pin main
                                            sheet hands salmagundi. Hang the jib
                                            lugger port gibbet Blimey grog rum
                                            squiffy ballast pirate. ...</p>
                                    </div>
                                    <div class="media-details">

                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>San Francisco, USA</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="media-right media-top">
                                    <a href="directory-single.html"><img
                                                width="150" height="150"
                                                src="assets/images/directory-thumb-1.jpg"
                                                class="media-object card"
                                                alt="Wine Tasting Tour"
                                                title="Wine Tasting Tour"></a>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                                href="directory-single.html">Nature
                                            Retreat</a></h4>

                                    <div class="media-description">
                                        <p>I’ve had twelve years to think about
                                            it. And if I had it to do over
                                            again, I would have grabbed the
                                            phaser ...</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>San Francisco, USA</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="media-right media-top">
                                    <a href="directory-single.html"><img
                                                width="150" height="150"
                                                src="assets/images/directory-thumb-2.jpg"
                                                class="media-object card"
                                                alt="Nature Retreat"
                                                title="Nature Retreat"></a>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                                href="directory-single.html">Sightseeing
                                            Tour</a></h4>

                                    <div class="media-description">
                                        <p>When I started Reynholm Industries, I
                                            had just two things in my
                                            possession: a dream and 6 million
                                            pounds. Dear Sir stroke Madam. Fire,
                                            exclamation ...</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>San Francisco, USA</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="media-right media-top">
                                    <a href="directory-single.html"><img
                                                width="150" height="150"
                                                src="assets/images/directory-thumb-3.jpg"
                                                class="media-object card"
                                                alt="Sightseeing Tour"
                                                title="Sightseeing Tour"></a>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                                href="directory-single.html">Wine
                                            Tasting Tour</a></h4>

                                    <div class="media-description">
                                        <p>Clipper gangway bilge water avast
                                            hogshead jack belaying pin main
                                            sheet hands salmagundi. Hang the jib
                                            lugger port gibbet Blimey grog rum
                                            squiffy ballast pirate. ...</p>
                                    </div>
                                    <div class="media-details">

                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>San Francisco, USA</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="media-right media-top">
                                    <a href="directory-single.html"><img
                                                width="150" height="150"
                                                src="assets/images/directory-thumb-1.jpg"
                                                class="media-object card"
                                                alt="Wine Tasting Tour"
                                                title="Wine Tasting Tour"></a>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                                href="directory-single.html">Nature
                                            Retreat</a></h4>

                                    <div class="media-description">
                                        <p>I’ve had twelve years to think about
                                            it. And if I had it to do over
                                            again, I would have grabbed the
                                            phaser ...</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>San Francisco, USA</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="media-right media-top">
                                    <a href="directory-single.html"><img
                                                width="150" height="150"
                                                src="assets/images/directory-thumb-2.jpg"
                                                class="media-object card"
                                                alt="Nature Retreat"
                                                title="Nature Retreat"></a>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-body">
                                    <h4 class="media-heading"><a
                                                href="directory-single.html">Sightseeing
                                            Tour</a></h4>

                                    <div class="media-description">
                                        <p>When I started Reynholm Industries, I
                                            had just two things in my
                                            possession: a dream and 6 million
                                            pounds. Dear Sir stroke Madam. Fire,
                                            exclamation ...</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>San Francisco, USA</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="media-right media-top">
                                    <a href="directory-single.html"><img
                                                width="150" height="150"
                                                src="assets/images/directory-thumb-3.jpg"
                                                class="media-object card"
                                                alt="Sightseeing Tour"
                                                title="Sightseeing Tour"></a>
                                </div>
                            </article>
                        </section>
                    </div>
                    <div class="col-md-3 col-md-pull-9 col-sm-4 col-sm-pull-8 page-navigation">
                        <ul class="nav nav-stacked">
                            <li class="active"><a
                                        href="directory-category.html">Tours</a>
                            </li>
                            <li><a href="directory-category.html">Food &amp;
                                    Drinks</a></li>
                            <li>
                                <a href="directory-category.html">Attractions</a>
                            </li>
                            <li><a href="directory-category.html">Services</a>
                            </li>
                            <li>
                                <a href="directory-category.html">Activities</a>
                            </li>
                            <li><a href="directory-category.html">Shopping</a>
                            </li>
                            <li>
                                <a href="directory-category.html">Nightlife</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="sidebar-padder">
                    <aside id="text-2" class="widget widget_text">
                        <div class="textwidget"><img
                                    src="assets/images/sidebar-ad.jpg"
                                    width="300" height="600"
                                    alt="my travel agency"
                                    title="Find out where you belong."></div>
                    </aside>
                    <aside id="nav_menu-5" class="widget widget_nav_menu">
                        <h3 class="widget-title">Top Destinations</h3>

                        <div class="menu-top-destinations-container">
                            <ul id="menu-top-destinations" class="menu">
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">London,
                                        England</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">Sydney,
                                        Australia</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">Chicago,
                                        USA</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">San
                                        Francisco, USA</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">Toronto,
                                        Canada</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">Buenos
                                        Aires, Argentina</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">Queenstown,
                                        New Zealand</a></li>
                                <li class="menu-item"><a
                                            href="destination-sub-page.html">Santorini,
                                        Greece</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>