<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="destination destination-home">

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
<!-- /.navbar-wrapper -->


<!-- Hero Section
================================================== -->
<section class="hero small-hero destination-header"
         style="background-image: url('assets/images/destination-6.jpg');">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title">San Francisco</h1>
                <!-- <div class="intro-text">
                    <p>And more text below if you need it...</p>
                </div> -->
                <ul class="breadcrumbs">
                    <!-- <li class="no-arrow"><a href="#" class="destination-context-menu"><i class="fa fa-ellipsis-v"></i><a></li> -->
                    <li class="no-arrow"><i
                                class="icon fa fa-map-marker"></i></li>
                    <li><a href="#">United States</a></li>
                    <li><a href="#">California</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Sub Navigation
================================================== -->
<div class="sub-nav">
    <div class="navbar navbar-inverse affix-top" id="SubMenu">
        <div class="container">
            <!-- Sub Nav Title -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><i
                            class="fa fa-fw fa-map-marker"></i> San Francisco</a>
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-sub">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Sub Nav Links -->
            <nav class="navbar-collapse collapse" id="navbar-sub">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="destinations-list.html">Places</a></li>
                    <li class="dropdown show-on-hover">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">Information <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="guide-single.html">About</a></li>
                            <li><a href="guide-single.html">Planning a
                                    Trip</a></li>
                            <li><a href="guide-single.html">Getting Around</a>
                            </li>
                            <li><a href="guide-single.html">History &amp;
                                    Culture</a></li>
                            <li><a href="guide-single.html">Top
                                    Attractions</a></li>
                            <li><a href="guide-single.html">Travel
                                    Resources</a></li>
                            <li><a href="guide-single.html">Highlights</a>
                            </li>
                            <li><a href="guide-single.html">Events</a></li>
                            <li><a href="guide-single.html">Itineraries</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown show-on-hover">
                        <a href="directory-list.html"
                           class="dropdown-toggle" data-toggle="dropdown">Directory
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="directory-category.html">Food &amp;
                                    Drinks</a></li>
                            <li>
                                <a href="directory-category.html">Attractions</a>
                            </li>
                            <li><a href="directory-category.html">Services</a>
                            </li>
                            <li>
                                <a href="directory-category.html">Activities</a>
                            </li>
                            <li><a href="directory-category.html">Shopping</a>
                            </li>
                            <li>
                                <a href="directory-category.html">Nightlife</a>
                            </li>
                            <li><a href="directory-category.html">Tours</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Articles</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-fw fa-heart-o"></i></a>
                    </li>
                    <li class="dropdown show-on-hover">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"><i
                                    class="fa fa-fw fa-share-alt"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i
                                            class="fa fa-fw fa-facebook-official"></i>
                                    Facebook</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-twitter"></i>
                                    Twitter</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-google-plus"></i>
                                    Google +</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-pinterest"></i>
                                    Pinterest</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-instagram"></i>
                                    Instagram</a></li>
                            <li><a href="#"><i
                                            class="fa fa-fw fa-envelope"></i>
                                    Email</a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-toggle="tooltip"
                           title="Download in PDF format."><i
                                    class="fa fa-fw fa-file-pdf-o"></i></a>
                    </li>
                    <li><a href="#" data-toggle="tooltip"
                           title="Print and take with you!"><i
                                    class="fa fa-fw fa-print"></i></a></li>
                </ul>
            </nav>
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /.sub-nav -->


<!-- Main Section
================================================== -->
<section class="main">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-9 col-sm-12">

                <div class="row">

                    <div class="col-md-3 col-sm-4 page-navigation">
                        <ul class="nav nav-stacked">
                            <li><a href="">Restaurants</a></li>
                            <li class="active"><a href="">Hotels</a></li>
                            <li><a href="">Tours</a></li>
                            <li><a href="">Shopping</a></li>
                            <li><a href="">Events</a></li>
                            <li><a href="">Entertainment</a></li>
                            <li><a href="">Sights</a></li>
                            <li><a href="">Activities</a></li>
                        </ul>
                    </div>
                    <!-- /.page-navigation -->

                    <div class="col-md-9 col-sm-8">
                        <div class="clearfix">
                            <h1 class="pull-left page-title">Hotels</h1>

                            <div class="pull-right navbar-right filter-listing">
                                <span>Sort by </span>

                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-default btn-sm">
                                        Star Rating <span
                                                class="fa fa-angle-down"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default btn-sm dropdown-toggle"
                                            data-toggle="dropdown"
                                            aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu nav-condensed"
                                        role="menu">
                                        <li><a href="#">Star Rating <span
                                                        class="fa fa-angle-down"></span></a>
                                        </li>
                                        <li><a href="#">Star Rating <span
                                                        class="fa fa-angle-up"></span></a>
                                        </li>
                                        <li><a href="#">Price Rating <span
                                                        class="fa fa-angle-down"></span></a>
                                        </li>
                                        <li><a href="#">Price Rating <span
                                                        class="fa fa-angle-up"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Destination Guide List -->
                        <section class="guide-list">

                            <article class="media guide-list-item">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object"
                                             src="assets/images/hotel-thumb-1.jpg"
                                             alt="hotel-thumb-1">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Name of the
                                        Place</h4>

                                    <div class="media-description">
                                        <p>Neutra bitters Truffaut, migas small
                                            batch forage taxidermy Pinterest.
                                            Umami Portlnd kogi. Photo booth
                                            bicycle rights taxidermy&hellip;</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>Destination Name</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object"
                                             src="assets/images/hotel-thumb-2.jpg"
                                             alt="hotel-thumb-2">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Name of the
                                        Place</h4>

                                    <div class="media-description">
                                        <p>Neutra bitters Truffaut, migas small
                                            batch forage taxidermy Pinterest.
                                            Umami Portlnd kogi. Photo booth
                                            bicycle rights taxidermy&hellip;</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>Destination Name</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object"
                                             src="assets/images/hotel-thumb-3.jpg"
                                             alt="hotel-thumb-3">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Name of the
                                        Place</h4>

                                    <div class="media-description">
                                        <p>Neutra bitters Truffaut, migas small
                                            batch forage taxidermy Pinterest.
                                            Umami Portlnd kogi. Photo booth
                                            bicycle rights taxidermy&hellip;</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>Destination Name</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object"
                                             src="assets/images/hotel-thumb-1.jpg"
                                             alt="hotel-thumb-1">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Name of the
                                        Place</h4>

                                    <div class="media-description">
                                        <p>Neutra bitters Truffaut, migas small
                                            batch forage taxidermy Pinterest.
                                            Umami Portlnd kogi. Photo booth
                                            bicycle rights taxidermy&hellip;</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>Destination Name</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                            <article class="media guide-list-item">
                                <div class="media-left media-top">
                                    <a href="#">
                                        <img class="media-object"
                                             src="assets/images/hotel-thumb-2.jpg"
                                             alt="hotel-thumb-2">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Name of the
                                        Place</h4>

                                    <div class="media-description">
                                        <p>Neutra bitters Truffaut, migas small
                                            batch forage taxidermy Pinterest.
                                            Umami Portlnd kogi. Photo booth
                                            bicycle rights taxidermy&hellip;</p>
                                    </div>
                                    <div class="media-details">
                                        <ul class="list-inline">
                                            <li class="destination"><i
                                                        class="fa fa-map-marker fa-fw"></i>
                                                <span>Destination Name</span>
                                            </li>
                                            <li>
														<span class="rating rating-star">
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon highlighted"></i>
															<i class="fa fa-star icon"></i>
														</span>
                                            </li>
                                            <li>
														<span class="rating rating-price">
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon highlighted"></i>
															<i class="fa fa-dollar icon"></i>
															<i class="fa fa-dollar icon"></i>
														</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>

                        </section>
                        <!-- /.guide-list -->


                    </div>
                    <!-- /.page-content -->

                </div>

            </div>

            <!-- ///////////////////// -->
            <!-- ////// SIDEBAR ////// -->
            <!-- ///////////////////// -->

            <div class="col-md-3 col-sm-12 text-center">
                <div class="visible-sm visible-xs">&nbsp;</div>
                <img src="assets/images/sidebar-ad.jpg"
                     class="img-responsive center-block" alt="" title=""/>
            </div>
            <!-- /.blog-sidebar -->

        </div>
        <!-- /.row -->
    </div>
</section>


<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>