<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="error-404 no-hero-image">

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
<!-- Main content
================================================== -->
<section class="main container">

    <div class="error-container error-404 not-found">

        <header class="page-header">
            <h2 class="page-title">Whaaaaat??!?!!1</h2>

            <p class="lead">It seems the page you're looking for isn't here.</p>
        </header>
        <!-- .page-header -->

        <div class="404-search-box">
            <p>Try looking somewhere else and you might get lucky!</p>

            <form role="search" method="get" class="search-form form-inline">
                <div class="form-group">
                    <input type="search" class="search-field form-control" placeholder="Search..." value="" name="s">
                    <input type="submit" class="search-submit btn btn-default" value="Search">
                </div>
            </form>
            <br>
            <br>
        </div>

    </div>

</section>
<!-- /.main -->

<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>