<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="error-404 no-hero-image">

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
<!-- Main content
================================================== -->
<section class="main container">

    <div class="error-container error-404 not-found">

        <header class="page-header">
            <h2 class="page-title">Whaaaaat??!?!!1</h2>

            <p class="lead"><%=message%></p>
        </header>
        <!-- .page-header -->



    </div>

</section>
<!-- /.main -->

<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>