<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>
<body class="home">
<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
 <section id="bottomHuman" style="margin-bottom:0;">
        <!-- Cover element
        ================================================== -->
        <div class="cover-wrapper"
             style="background-image: url(assets/images/gtbasketballstadium.jpg);">
            <div class="cover-container overlay" style="padding-top: 25%; padding-bottom: 25%; background-color: rgba(197,147,83,0.3);">
                <div class="cover-inner">
                    <div class="container">
                        <h2 style="color: #fff">Check Your Point Total</h2>
                    </div>
                </div>
            </div>
        </div>
 </section>
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/demo.js"></script>

</body>
</html>