<!--/usr/local/bin/node-->
<!--C:/Program Files/nodejs/node-->
<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>

<head>
    <% include partials/page/head.ejs %>
</head>
<script>
    function clickEntry(input) {
        var disMouse = document.getElementById(input.id);
        disMouse.addEventListener("mousewheel", function (evt) {
            evt.preventDefault();
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
<body class="home">
<% include partials/page/navbar.ejs %>
<section id="bottomHuman" style="margin-bottom:0;">
    <div class="cover-wrapper"
         style="background-image: url(assets/images/gtbasketballstadium.jpg);">
        <div class="cover-container overlay"
             style="padding-top: 10%; padding-bottom: 10%; background-color: rgba(197,147,83,0.3);">
            <div class="cover-inner">
                <div class="gtid">
                    <h2 style="color: #fff">Check Your Point Total</h2>
                    <input class="form-control" id="focusedInput" onkeypress="return isNumberKey(event)" type="text"
                           placeholder="GTID Number" maxlength="9" onclick="clickEntry(this);">
                    <input style="margin-top: 10px; width: 100%; margin-bottom: 10px" type="submit"
                           class="button button-primary button-large"
                           value="Check Points">
                    <table class="table table-striped table-hover"
                           style="width: 100%; color:black; text-shadow: none">
                        <thead>
                        <tr class="warning">
                            <th style="text-align: center">Transaction Date</th>
                            <th style="text-align: center">Points</th>
                            <th style="text-align: center">Description</th>
                            <th style="text-align: center">Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="success">
                            <td>11/13/15</td>
                            <td>25</td>
                            <td>FSU</td>
                            <td>25</td>
                        </tr>
                        <tr class="success">
                            <td>11/14/15</td>
                            <td>25</td>
                            <td>NC State</td>
                            <td>50</td>
                        </tr>
                        <tr class="success">
                            <td>11/15/15</td>
                            <td>50</td>
                            <td>Duke</td>
                            <td>100</td>
                        </tr>
                        <tr class="danger">
                            <td>11/16/15</td>
                            <td>75</td>
                            <td>Hat</td>
                            <td>25</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</html>