<!DOCTYPE html>
<html lang="en" class="cover">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="login">
<div id="login">
    <form id="loginform" method="post" action="/login"
          style="padding-bottom: 0px">
        <h1><img src="assets/images/logo1Navlit.png" alt="NavLit!"
                 style="max-height:auto; width:auto; max-width:100%;"></h1>

        <p>
            <label for="user_login">Username<br>
                <input type="text" name="username" id="user_login"
                       class="input" value="" size="20"></label>
        </p>

        <p>
            <label for="user_pass">Password<br>
                <input type="password" name="password" id="user_pass"
                       class="input" value="" size="20"></label>
        </p>

        <p class="submit">
            <input style = margin-bottom:15px type="submit" name="submit" id="submit"
                   class="button button-primary button-large"
                   value="Log In">
        </p>
    </form>

    <form id="loginform" method="get" action="/registration">
        <p class="submit">
            <input type="submit" name="register" id="register"
                   class="button button-primary button-large"
                   value="Register" style="margin-bottom: 15px">
        </p>

        <% if (typeof error != 'undefined' & error != "") { %>
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×
            </button><%= error %>
        </div>

        <% } %>
    </form>


</div>

<!-- /login -->

</body>
</html>
