<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>


<head>
    <link rel="stylesheet" href="assets/css/checkout.css" rel="stylesheet">
    <% include partials/page/head.ejs %>


</head>
<body>
<% include partials/page/navbar.ejs %>

<section class="hero small-hero" style="background-image:url(assets/images/cheerleader.png);">
    <div class="bg-overlay">
        <div class="container" style="">
            <div class="intro-wrap">
                <h1 class="intro-title">Prize Store</h1>
            </div>
        </div>
    </div>
</section>

<section class="main container">
    <div ng-app="getPointsModule" ng-controller="mainController" ng-cloak>
        <ul class='item-list'>
            <div ng-repeat="item in itemObject" style="margin-top: 50px">
                <li class='item'>
                    <div class='item__information'>
                        <div class='item__image'>
                            <img src="{{item.image.data}}" style="width: 100px; height: 100px"/>
                        </div>
                        <div class='item__body'>
                            <h2 class='item__title'>{{item.name}}</h2>

                            <p class='item__description'>{{item.description}}</p>

                            <p>Available Quantity: {{item.quantity}}</p>
                        </div>
                        <div class='item__price js-item-price' data-price='{{item.price}}'>0</div>
                    </div>
                    <div class='item__interactions'>
                        <p class='item__quantity'>
                            <a class='js-item-increase' title='Add another item' style="color: #00254c">+</a>
                            <a class='js-item-decrease decrease--disabled' title='Remove an item'
                               style="color: #00254c">-</a>
                            <span data-quantity='0'><b>0</b> item</span> at {{item.price}} points
                        </p>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <div class='summary js-summary'>
        <ul class='checkout' style="float: right">
            <li>
                <b>Total:</b>
                <span class='sum js-total'>0</span>
            </li>
            <li>
                <a class='button js-checkout-button'>Checkout</a>
            </li>
        </ul>
    </div>


</section>

</body>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="assets/js/checkout.js"></script>
<script>
    angular.module('pointsController', []).controller('mainController', ['$scope', '$http', 'Points', function ($scope, $http, Points) {
        $scope.formData = {};
        $scope.loading = false;
        $http.get('api/upload-items', {}).success(function (items) {

            $scope.itemObject = items;
            $scope.loading = false;
        });


        $scope.getHistory = function () {

            // validate the formData to make sure that something is there
            // if form is empty, nothing will happen
            if ($scope.formData.gtID != undefined) {
                $scope.loading = true;

                // call the create function from our service (returns a promise object)
                Points.get($scope.formData)

                    // if successful creation, call our get function to get all the new todos
                        .success(function (data) {
                            $scope.loading = false;
                            $scope.points = data; // assign our new list of todos
                            console.log(data);
                        });
            }
        }
    }]);
    angular.module('pointsService', []).factory('Points', ['$http', function ($http) {
        return {
            get: function (giID) {
                return $http.post('/api/history', giID);
            },

        }
    }]);

    angular.module('getPointsModule', ['pointsController', 'pointsService']);


    function clickEntry(input) {
        var disMouse = document.getElementById(input.id);
        disMouse.addEventListener("mousewheel", function (evt) {
            evt.preventDefault();
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
</html>
