<!DOCTYPE html>
<html lang="en" class="cover" xmlns="http://www.w3.org/1999/html">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<script>

    window.onload = function() {
        $("#myTags").tagit({
            caseSensitive: false,
            allowSpaces: true,
        });
    };

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1693745097524728',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.5' // use version 2.2
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function getUserInformation() {
        FB.api(
                '/me',
                'GET',
                {"fields":"first_name,last_name,birthday"},
                function(response) {
                    console.log(response.first_name);
                    console.log(response.last_name);
                    console.log(response.birthday);
                }
        );
    }

    function facebookLogin() {
        FB.login(function(response){
            if (response.status === 'connected') {
                getUserInformation();
            }
        }, {scope: 'public_profile,email,user_birthday, user_actions.books, user_actions.fitness, user_actions.music, user_actions.news, user_actions.video'});
    }

</script>


<body class="login">
<div id="login">
    <form id="loginform" method="post" action="/registration">
        <h1><img src="assets/images/logo1Navlit.png" alt="NavLit!"
                 style="height:auto; width:auto; max-width:100%;"></h1>
        <input name="name" type="text"
               class="form-control" id="firstName"
               placeholder="First Name">
        <input name="name" type="text"
               class="form-control" id="lastName"
               placeholder="Last Name">
        <input name="username" type="text"
               class="form-control" id="inputEmail"
               placeholder="Email">
        <input name="password" type="password"
               class="form-control" id="inputPassword"
               placeholder="Password">
        <input name="password" type="password"
               class="form-control" id="confirmPassword"
               placeholder="Re-type Password">

        <div class="radio" style="color: white">
            <label>
                <input name="accountType" type="radio"
                       name="optionsRadios" id="optionsRadios1"
                       value="guide" style="color: white">
                Guide
            </label>
            <label>
                <input name="accountType" type="radio"
                       name="optionsRadios" id="optionsRadios2"
                       value="user">
                User
            </label>
        </div>
        <div>
            <ul id="myTags" style="height: auto">
            </ul>
        </div>
        <form id="loginform" method="get" action="/registration">

            <p class="submit">
                <input style="margin-bottom: 15px" type="submit" name="register" id="register"
                       class="button button-primary button-large"
                       value="Submit">
            </p>
            <% if (typeof error != 'undefined' & error != "") { %>
            <p class="alert alert-dismissable alert-danger" style="margin-bottom: 15px">
                <button type="button" class="close" data-dismiss="alert">×
                </button><%= error %>
            </p>
            <% } %>

            <% if (typeof success != 'undefined' & success != "") { %>
            <p class="alert alert-dismissable alert-success" style="margin-bottom: 15px">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <%= success %>
            </p>
            <% } %>
        </form>
        <form id="loginform" method="get" action="/">
            <p class="submit">
                <input style="margin-bottom: 15px; width: 100%; color: white; background-color: #3864a3" type="button" name="loginFacebook" id="loginFacebook"
                       class="button button-primary button-large"
                       value="Log In With Facebook" onclick="facebookLogin();">
            </p>
        </form>

    </form>
</div>
</body>
</html>
