<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>

<head>
    <% include partials/page/head.ejs %>
</head>

<body class="single single-post no-hero-image">

<div id="top"></div>
<% include partials/page/navbar.ejs %>
<section class="main container">
    <div class="row">
        <div class="col-sm-8 col-sm-push-4 col-lg-9 col-lg-push-3">
            <header class="page-header">
                <h1 class="page-title">Ramblin’ Rewards Rules and Regulations</h1>
            </header>
            <article class="pagehentry">
                <div class="entry-summary">
                    <p class="lead">With each ACC Conference Men's and Women's basketball game attended, Georgia Tech
                        Students will earn Ramblin’ Reward Points.</p>
                </div>
                <div class="entry-content">

                    <h3>Two Different Prize Systems:</h3>

                    <h4>Experience Prizes:</h4>

                    <p>
                        Students will have the opportunity to participate in exclusive experiences based off the
                        accumulation of Ramblin’ Reward Points. These experiences are set on predetermined dates and
                        have limited capacity. When a student reaches a new prize level, he/she will receive an email to
                        sign up for the experience opportunity. Points will not be deducted upon participation in
                        experience prizes.
                    </p>

                    <p>
                        Reserved Courtside Seating - Reserved courtside seating will be in the first row of the baseline
                        student section. Your additional guest must be a current enrolled Georgia Tech student.
                    </p>

                    <h4>Physical Prizes:</h4>

                    <p>Student’s will claim physical prizes based on accumulation of points. Prizes may be claimed at
                        any point in the season. Points will be deducted upon redemption of prize.</p>

                    <p>Please view the <b><a HREF="/prize">Prize Store</a></b> tab to view all available prizes</p>

                    <p>
                        Grand Prize - There will only be a total of 3 grand prize winners awarded to the top 3 students.
                        If a total of 3 students do not reach the Grand Prize eligibility, they will be raffled off to
                        students to reach the 300 point threshold.
                    </p>

                    <p><i>All prizes are subject to availability. Experience prizes will be on a first come, first serve
                            basis.</i></p>

                    <h3>Earning Points</h3>

                    <p>Georgia Tech Men’s basketball games will be worth 25 Ramblin’ Reward points. Georgia Tech Women’s
                        basketball games will be worth 50 Ramblin’ Reward points. Certain games will be subject to
                        double the point value. Members receive Tech Points by scanning their Buzzcard at Student
                        gate. </p>

                    <p>Students can earn points for all Men’s and Women’s conference games. January 3rd, 2016, when the
                        Women’s Basketball team plays Louisville, will be the first opportunity for students to earn
                        points. Please view the <b><a HREF="/schedule">Schedule</a></b> tab for a detailed schedule for
                        Men’s and Women’s
                        basketball. </p>

                    <p><i>Students must arrive before halftime to receive points.</i></p>
                    <p><i>If you have any additional questions, please contact us at <a
                                    href="mailto:GTramblinrewards@gmail.com">GTramblinrewards@gmail.com</a></i></p>

                </div>
            </article>
        </div>


        <div class="col-sm-4 col-sm-pull-8 col-lg-3 col-lg-pull-9">
            <div class="sidebar-padder">
                <aside class="widget widget_nav_menu">
                    <div class="menu-about-the-theme-container">
                        <ul id="menu-about-the-theme" class="menu">
                            <li class="menu-item"><a>Rules and Regulations</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
</body>

<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>

</html>