<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/page/head.ejs %>
</head>
<link href="../../file-input/css/fileinput.min.css" media="all"
      rel="stylesheet" type="text/css"/>

<% include partials/page/jsdefaults.ejs %>
<body class="home">
<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>

<!-- Cover element
================================================== -->
<div ng-app="uploadModule" ng-controller="uploadCtrl">
    <div class="cover-wrapper" style="background-color:#c59353">
        <div class="cover-container overlay"
             style="padding-top: 20%; padding-bottom: 20%;">
            <div class=" cover-inner">
                <div class="container">
                    <h2 style="color:#fff;">Add New Prize Item</h2>

                    <form>
                        <div class="gtid">
                            <label>Upload Prize Image</label>
                            <input type="file" id="itemFile" name="itemFile"
                                   file-model="itemData.file" style="margin-bottom: 10px">
                            <input ng-model="itemData.name" id="name" name="name" class="form-control" style="margin-bottom: 10px"
                                   type="text"
                                   placeholder="Prize Name" onclick="clickEntry(this);">
                            <input ng-model="itemData.description" id="description" name="description" class="form-control" style="margin-bottom: 10px"
                                   type="text"
                                   placeholder="Prize Description" onclick="clickEntry(this);">
                            <input ng-model="itemData.price" id="price" name="price" class="form-control" style="margin-bottom: 10px"
                                   onkeypress="return isNumberKey(event)" type="text"
                                   placeholder="Prize Cost" maxlength="4" onclick="clickEntry(this);">
                            <input ng-model="itemData.quantity" id="quantity" name="quantity" class="form-control" style="margin-bottom: 10px"
                                   onkeypress="return isNumberKey(event)" type="text"
                                   placeholder="Prize Quantity" maxlength="4" onclick="clickEntry(this);">
                            <button type="submit" class="btn btn-default btn-lg" ng-click="Submit()"
                                    style="width: 100%; background-color:#00254c">
                                <i class="fa fa-cloud-upload"></i>

                            </button>
                        </div>


                    </form>
                    <p class="text-center" ng-show="loading">
                        <span class="fa fa-spinner fa-spin fa-3x"></span>
                    </p>
                    <div ng-repeat="item in itemObject" style="margin-top: 50px">
                        <img src="{{item.image.data}}" style="width: 250px; height: 250px"/>
                        Name: {{item.name}}
                        Description: {{item.description}}
                        Price: {{item.price}}
                        Quantity: {{item.quantity}}
                        <input type="checkbox" ng-click="deleteItem(item._id)">
                    </div>


                </div>
                <!-- /.container -->
            </div>
            <!-- /.cover-inner -->
        </div>
        <!-- /.cover-container -->
    </div>

</div>
<!-- /.cover-wrapper -->


</body>

<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../file-input/js/fileinput.min.js"></script>

<script>
    var myApp = angular.module('uploadModule', []);
    myApp.controller('uploadCtrl', ['$scope','$http', 'multipartForm', function ($scope, $http, multipartForm) {
        $scope.status = "Upload File";
        $scope.finished = false;
        $scope.loading = true;
        $http.get('api/test-upload', {}).success(function (items) {

            $scope.itemObject = items;
            $scope.loading = false;
        });


        $scope.Submit = function () {
            $scope.finished = false;
            $scope.loading = true;
            var uploadUrl = '/test-upload';
            $scope.status = "Processing";
            multipartForm.post(uploadUrl, $scope.itemData, $scope);
        }
        $scope.deleteItem = function(id) {
            $scope.loading = true;
            $http.delete('api/test-upload/' + id).success(function (items) {

                $scope.itemObject = items;
                $scope.loading = false;
            });
        };
    }]);

    myApp.service('multipartForm', ['$http', function ($http) {
        this.post = function (uploadUrl, data, scope) {

            var fd = new FormData();
            for (var key in data) {
                fd.append(key, data[key]);
            }
            $http.post(uploadUrl, fd, {
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined}
            }).success(function (response) {
                scope.itemObject = response.itemObject;
                scope.status = response.message;
                scope.loading = false;
                scope.finished = true;
            });
        }
    }]);

    myApp.directive('fileModel', ['$parse', function ($parse) {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                var model = $parse(attrs.fileModel);
                var modelSetter = model.assign;

                element.bind('change', function () {
                    scope.$apply(function () {
                        modelSetter(scope, element[0].files[0]);
                    });
                });
            }
        };
    }]);


    function clickEntry(input) {
        var disMouse = document.getElementById(input.id);
        disMouse.addEventListener("mousewheel", function (evt) {
            evt.preventDefault();
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
</html>