<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/page/head.ejs %>
</head>
<link href="../../file-input/css/fileinput.min.css" media="all"
      rel="stylesheet" type="text/css"/>

<% include partials/page/jsdefaults.ejs %>
<body class="home">
<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>

<!-- Cover element
================================================== -->
<div ng-app="uploadModule" ng-controller="uploadCtrl">
    <div class="cover-wrapper" style="background-color:#c59353">
        <div class="cover-container overlay"
             style="padding-top: 20%; padding-bottom: 20%;">
            <div class=" cover-inner">
                <div class="container">
                    <h2 style="color:#fff;">Upload Game Data</h2>

                    <form>
                        <div class="gtid">
                            <input type="file" id="excelfile" name ="excelfile"
                                   file-model="excel.file" style="margin-bottom: 10px">
                            <input ng-model="excel.points" id="points"  name="points" class="form-control" style="margin-bottom: 10px"
                                   onkeypress="return isNumberKey(event)" type="text"
                                   placeholder="Game Point Value" maxlength="3" onclick="clickEntry(this);">
                            <button type="submit" class="btn btn-default btn-lg" ng-click="Submit()"
                                    style="width: 100%; background-color:#00254c">
                                <i class="fa fa-cloud-upload"></i>
                                &nbsp;
                                <span>{{status}}
                                    <div ng-show="loading"><img width="20 px" src="assets/images/loading-animation.gif">
                                    </div>
                                    <div ng-show="finished"><img width="20 px" src="assets/images/finished.png">
                                    </div>
                                </span>
                            </button>
                        </div>


                    </form>

                </div>
                <!-- /.container -->
            </div>
            <!-- /.cover-inner -->
        </div>
        <!-- /.cover-container -->
    </div>

</div>
<!-- /.cover-wrapper -->


</body>

<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../file-input/js/fileinput.min.js"></script>

<script>
    var myApp = angular.module('uploadModule', []);
    myApp.controller('uploadCtrl', ['$scope', 'multipartForm', function ($scope, multipartForm) {
        $scope.status = "Upload File";
        $scope.finished = false;
        $scope.loading = false;
        $scope.Submit = function () {
            $scope.finished = false;
            $scope.loading = true;
            var uploadUrl = '/upload-points';
            $scope.status = "Processing";
            console.log($scope.excel)
            multipartForm.post(uploadUrl, $scope.excel, $scope);
        }
    }]);

    myApp.service('multipartForm', ['$http', function ($http) {
        this.post = function (uploadUrl, data, scope) {

            var fd = new FormData();
            for (var key in data) {
                fd.append(key, data[key]);
            }
            $http.post(uploadUrl, fd, {
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined}
            }).success(function (response) {

                scope.status = response.message;
                scope.loading = false;
                scope.finished = true;
            });
        }
    }]);

    myApp.directive('fileModel', ['$parse', function ($parse) {
        return {
            restrict: 'A',
            link: function (scope, element, attrs) {
                var model = $parse(attrs.fileModel);
                var modelSetter = model.assign;

                element.bind('change', function () {
                    scope.$apply(function () {
                        modelSetter(scope, element[0].files[0]);
                    });
                });
            }
        };
    }]);

    function clickEntry(input) {
        var disMouse = document.getElementById(input.id);
        disMouse.addEventListener("mousewheel", function (evt) {
            evt.preventDefault();
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
</html>