<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/page/head.ejs %>
</head>
<script>
    function clickEntry(input) {
        var disMouse = document.getElementById(input.id);
        disMouse.addEventListener("mousewheel", function (evt) {
            evt.preventDefault();
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
</script>
<link href="../../file-input/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>

<% include partials/page/jsdefaults.ejs %>
<body class="home">
<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>

<section id="bottomCommunication" style="margin-bottom:0;">
    <!-- Cover element
    ================================================== -->
    <div class="cover-wrapper"
         style="background-image: url(assets/images/phone.jpeg)">
        <div class="cover-container overlay" style="padding-top: 20%; padding-bottom: 20%;">
            <div class=" cover-inner">
                <div class="container">
                        <form action="/upload" method="post" enctype="multipart/form-data" >
                            <div class="form-group">
                            <!--<input name ="ExcelFile" id="file-0" class="file" type="file" data-show-preview="false">-->
                            <input type="file" name ="ExcelFile">
                                <input class="form-control" onkeypress="return isNumberKey(event)" type="text"
                                       placeholder="Game Point Value" maxlength="3" onclick="clickEntry(this);">
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add Points"/>

                           </div>
                        </form>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.cover-inner -->
        </div>
        <!-- /.cover-container -->
    </div>
    <!-- /.cover-wrapper -->

</section>
</body>

<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../file-input/js/fileinput.min.js"></script>
<!--<script src="../../file-input/js/xlsx.core.min.js"></script>-->
<script>
    $("#file-0").fileinput({
        uploadUrl: '/upload',
        'allowedFileExtensions': ['xls', 'csv', 'xlsx']
    });
</script>

</html>