<!DOCTYPE html>
<html lang = "en">

    <head>
        <% include partials/page/head.ejs %>
    </head>
    <link href = "../../file-input/css/fileinput.min.css" media = "all"
          rel = "stylesheet" type = "text/css" />

    <% include partials/page/jsdefaults.ejs %>
    <body class = "home">
        <!-- Navigation (main menu)
        ================================================== -->
        <% include partials/page/navbar.ejs %>

        <!-- Cover element
        ================================================== -->
        <div ng-app = "uploadModule" ng-controller = "uploadCtrl" ng-cloak>

            <div class = "cover-wrapper" style = "background-color:#c59353">
                <div class = "cover-container overlay"
                     style = "padding-top: 20%; padding-bottom: 20%;">
                    <div class = " cover-inner">
                        <div class = "container">
                            <h2 style = "color:#fff;">Add New Prize Item</h2>

                            <form>
                                <div class = "gtid">
                                    <label>Upload Prize Image</label>
                                    <input type = "file" id = "itemFile" name = "itemFile"
                                           file-model = "itemData.file" style = "margin-bottom: 10px">
                                    <input ng-model = "itemData.name" id = "name" name = "name" class = "form-control" style = "margin-bottom: 10px"
                                           type = "text"
                                           placeholder = "Prize Name" onclick = "clickEntry(this);">
                                    <input ng-model = "itemData.description" id = "description" name = "description" class = "form-control" style = "margin-bottom: 10px"
                                           type = "text"
                                           placeholder = "Prize Description" onclick = "clickEntry(this);">
                                    <input ng-model = "itemData.price" id = "price" name = "price" class = "form-control" style = "margin-bottom: 10px"
                                           onkeypress = "return isNumberKey(event)" type = "text"
                                           placeholder = "Prize Cost" maxlength = "4" onclick = "clickEntry(this);">
                                    <input ng-model = "itemData.quantity" id = "quantity" name = "quantity" class = "form-control" style = "margin-bottom: 10px"
                                           onkeypress = "return isNumberKey(event)" type = "text"
                                           placeholder = "Prize Quantity" maxlength = "4" onclick = "clickEntry(this);">
                                    <button type = "submit" class = "btn btn-default btn-lg" ng-click = "Submit()"
                                            style = "width: 100%; background-color:#00254c">
                                        <i class = "fa fa-cloud-upload"></i>

                                    </button>
                                </div>


                            </form>
                            <p class = "text-center" ng-show = "loading">
                                <span class = "fa fa-spinner fa-spin fa-3x"></span>
                            </p>
                            <table class = "table" border = "1" style = "margin-top: 50px">
                                <thead>
                                    <th style = "text-align: center">
                                        Image
                                    </th>
                                    <th style = "text-align: center">
                                        Name
                                    </th>
                                    <th style = "text-align: center">
                                        Description
                                    </th>
                                    <th style = "text-align: center">
                                        Price
                                    </th>
                                    <th style = "text-align: center">
                                        Quantity
                                    </th>
                                    <th style = "text-align: center">
                                        Delete
                                    </th>
                                    <th style = "text-align: center">
                                        Edit
                                    </th>
                                </thead>

                                <tr ng-repeat = "item in itemObject">
                                    <td style = "vertical-align: middle">
                                        <img src = "{{item.image.data}}" style = "width: 100px; height: 100px" />
                                    </td>
                                    <td style = "vertical-align: middle">
                                        {{item.name}}
                                    </td>
                                    <td style = "vertical-align: middle">
                                        {{item.description}}
                                    </td>
                                    <td style = "vertical-align: middle">
                                        {{item.price}}
                                    </td>
                                    <td style = "vertical-align: middle">
                                        {{item.quantity}}
                                    </td>
                                    <td style = "vertical-align: middle">
                                        <i class = "fa fa-trash" ng-click = "deleteItem(item._id)" style = "font-size: 25px; cursor: pointer;"></i>
                                    </td>
                                    <td style = "vertical-align: middle">
                                        <i class = "fa fa-edit" ng-click = "toggleForm(item)" style = "font-size: 25px; cursor: pointer;"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.cover-inner -->
                </div>
                <!-- /.cover-container -->
            </div>
            <modal title = "Edit Item" visible = "showModal" style = "padding-top: 20%">
                Display
                <input type = "file" id = "itemFile" name = "itemFile"
                       file-model = "editForm.file" style = "margin-bottom: 10px">
                Name
                <input ng-model = "editForm.name" id = "name" name = "name" class = "form-control" style = "margin-bottom: 10px"
                       type = "text"
                       placeholder = "Prize Name" onclick = "clickEntry(this);">
                Description
                <input ng-model = "editForm.description" id = "description" name = "description" class = "form-control" style = "margin-bottom: 10px"
                       type = "text"
                       placeholder = "Prize Description" onclick = "clickEntry(this);">
                Price
                <input ng-model = "editForm.price" id = "price" name = "price" class = "form-control" style = "margin-bottom: 10px"
                       onkeypress = "return isNumberKey(event)" type = "text"
                       placeholder = "Prize Cost" maxlength = "4" onclick = "clickEntry(this);">
                Quantity
                <input ng-model = "editForm.quantity" id = "quantity" name = "quantity" class = "form-control" style = "margin-bottom: 10px"
                       onkeypress = "return isNumberKey(event)" type = "text"
                       placeholder = "Prize Quantity" maxlength = "4" onclick = "clickEntry(this);">

                <p class = "text-center" ng-show = "editLoading">
                    <span class = "fa fa-spinner fa-spin fa-3x"></span>
                </p>
                <button style = "background-color: #27ae60" type = "submit" class = "btn btn-default" ng-click = "submitEdit()" ng-show="!editLoading && messageCode == 0">Save</button>
                <div align = "center">
                    <div class = "alert alert-success" ng-if = "messageCode == 1" style = "width: 300px ">
                        {{editMessage}}
                    </div>
                    <div class = "alert alert-danger" ng-if = "messageCode == 2" style = "width: 300px ">
                        {{editMessage}}
                    </div>
                </div>
            </modal>
        </div>
        <!-- /.cover-wrapper -->


    </body>

    <footer id = "footer">
        <% include partials/page/footer.ejs %>
    </footer>

    <script src = "../../file-input/js/fileinput.min.js"></script>

    <script>
        //angular.module('uploadModule', ['addCustomerControllers']);

        angular.module('uploadModule', ['uploadCtrl']);

        var uploadCtrl = angular.module('uploadCtrl', []);

        // var myApp = angular.module('uploadModule', []);
        uploadCtrl.controller('uploadCtrl', ['$scope', '$http', 'multipartForm', function ($scope, $http, multipartForm) {
            $scope.showModal = false;
            $scope.status = "Upload File";
            $scope.finished = false;
            $scope.loading = true;
            $http.get('api/upload-items', {}).success(function (items) {

                $scope.itemObject = items;
                $scope.loading = false;
            });


            $scope.Submit = function () {
                $scope.finished = false;
                $scope.loading = true;
                var uploadUrl = '/upload-items';
                $scope.status = "Processing";
                multipartForm.post(uploadUrl, $scope.itemData, $scope);
            }
            $scope.deleteItem = function (id) {
                $scope.loading = true;
                if (confirm("Delete?") == true) {
                    $http.delete('api/upload-items/' + id).success(function (items) {
                        $scope.itemObject = items;
                        $scope.loading = false;
                    });
                } else {
                    $scope.loading = false;
                }
            };

            $scope.toggleForm = function (item) {
                console.log(item)
                $scope.showModal = !$scope.showModal
                $scope.editForm = {};
                $scope.editForm.file = 'Default';
                $scope.messageCode = 0;
                $scope.editForm.id = item._id;
                $scope.editForm.name = item.name;
                $scope.editForm.description = item.description;
                $scope.editForm.price = item.price;
                $scope.editForm.quantity = item.quantity;
            };
            var foundFile = true;
            $scope.submitEdit = function () {
                $scope.editLoading = true;
                var editUrl = '/edit-items';
                var fd = new FormData();
                for (var key in  $scope.editForm) {
                    if(key == 'file') {
                        if($scope.editForm[key] == 'Default') {
                            foundFile = false;
                        }
                    }
                    fd.append(key,  $scope.editForm[key]);
                }

                if (!foundFile) {
                    $http.post(editUrl, $scope.editForm).success(function (response) {
                        $scope.editLoading = false;
                        $scope.editMessage = response.message;
                        $scope.messageCode = response.messageCode;
                        $scope.itemObject = response.itemObject;
                    });
                } else {
                    $http.post(editUrl, fd, {
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    }).success(function (response) {
                        $scope.editLoading = false;
                        $scope.editMessage = response.message;
                        $scope.messageCode = response.messageCode;
                        $scope.itemObject = response.itemObject;
                    });
                }
            };


        }]);

        uploadCtrl.service('multipartForm', ['$http', function ($http) {
            this.post = function (uploadUrl, data, scope) {

                var fd = new FormData();
                for (var key in data) {
                    fd.append(key, data[key]);
                }
                $http.post(uploadUrl, fd, {
                    transformRequest: angular.identity,
                    headers: {'Content-Type': undefined}
                }).success(function (response) {
                    scope.itemObject = response.itemObject;
                    scope.status = response.message;
                    scope.loading = false;
                    scope.finished = true;
                });
            }
        }]);

        uploadCtrl.directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }]);


        function clickEntry(input) {
            var disMouse = document.getElementById(input.id);
            disMouse.addEventListener("mousewheel", function (evt) {
                evt.preventDefault();
            });
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }


        uploadCtrl.directive('modal', function () {

            return {
                template: '<div class="modal fade">' +
                '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
                '<h4 class="modal-title">{{ title }}</h4>' +
                '</div>' +
                '<div class="modal-body" ng-transclude></div>' +
                '</div>' +
                '</div>' +
                '</div>',
                restrict: 'E',
                transclude: true,
                replace: true,
                scope: true,
                link: function postLink(scope, element, attrs) {

                    scope.title = attrs.title;

                    scope.$watch(attrs.visible, function (value) {
                        if (value == true) {
                            $(element).modal('show');
                        }
                        else
                            $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function () {
                        scope.$apply(function () {
                            scope.$parent[attrs.visible] = true;
                        });
                    });

                    $(element).on('hidden.bs.modal', function () {
                        scope.$apply(function () {
                            scope.$parent[attrs.visible] = false;
                        });
                    });
                }
            };
        });
    </script>
</html>