<!DOCTYPE html>
<html lang = "en">

    <head>
        <% include partials/page/head.ejs %>
    </head>
    <link href = "../../file-input/css/fileinput.min.css" media = "all"
          rel = "stylesheet" type = "text/css" />

    <% include partials/page/jsdefaults.ejs %>
    <body class = "home">
        <!-- Navigation (main menu)
        ================================================== -->
        <% include partials/page/navbar.ejs %>

        <!-- Cover element
        ================================================== -->
        <div ng-app = "uploadModule" ng-controller = "uploadCtrl" ng-cloak>
            <div class = "cover-wrapper" style = "background-color:#c59353">
                <div class = "cover-container overlay"
                     style = "padding-top: 20%; padding-bottom: 20%;">
                    <div class = " cover-inner">
                        <div class = "container">
                            <h2 style = "color:#fff;">Upload Game Data</h2>

                            <form>
                                <div class = "gtid">
                                    <input type = "file" id = "excelfile" name = "excelfile"
                                           file-model = "excel.file" style = "margin-bottom: 10px">
                                    <input ng-model = "excel.points" id = "points" name = "points" class = "form-control" style = "margin-bottom: 10px"
                                           onkeypress = "return isNumberKey(event)" type = "text"
                                           placeholder = "Game Point Value" maxlength = "3" onclick = "clickEntry(this);">
                                    <button type = "submit" class = "btn btn-default btn-lg" ng-click = "Submit()"
                                            style = "width: 100%; background-color:#00254c">
                                        <i class = "fa fa-cloud-upload"></i>
                                        &nbsp;
                                <span>{{status}}
                                    <div ng-show = "loading"><img width = "20 px" src = "assets/images/loading-animation.gif">
                                    </div>
                                    <div ng-show = "finished"><img width = "20 px" src = "assets/images/finished.png">
                                    </div>
                                </span>
                                    </button>
                                </div>


                            </form>
                            <p class = "text-center" ng-show = "loadingGame">
                                <span class = "fa fa-spinner fa-spin fa-3x"></span>
                            </p>

                            <div style = "background-color: white">
                                <table class = "table  table-hover"
                                       style = "width: 100%; color:black; text-shadow: none; margin-top: 50px">
                                    <thead>
                                        <tr class = "warning">
                                            <th style = "text-align: center">Date</th>
                                            <th style = "text-align: center">Game</th>
                                            <th style = "text-align: center">Points</th>
                                            <th style = "text-align: center">Delete</th>
                                            <th style = "text-align: center">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat = "game in games">

                                            <td style = "vertical-align: middle">
                                                {{game.date}}
                                            </td>
                                            <td style = "vertical-align: middle">
                                                {{game.name}}
                                            </td>
                                            <td style = "vertical-align: middle">
                                                {{game.points}}
                                            </td>
                                            <td style = "vertical-align: middle">
                                                <i class = "fa fa-trash" ng-click = "toggleDelete(game)" style = "font-size: 25px; cursor: pointer;"></i>
                                            </td>
                                            <td style = "vertical-align: middle">
                                                <i class = "fa fa-edit" ng-click = "toggleEdit(game)" style = "font-size: 25px; cursor: pointer;"></i>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>

                            <form style = "margin-top: 30px">
                                <h2 style = "color:#fff;">Manual Points Assignment</h2>

                                <div class = "gtid">
                                    GTID
                                    <input ng-model = "manual.gtid" id = "gtid" name = "gtid" class = "form-control" style = "margin-bottom: 10px"
                                           onkeypress = "return isNumberKey(event)" type = "text"
                                           placeholder = "GT ID" maxlength = "9" onclick = "clickEntry(this);">

                                    Reasons
                                    <div>
                                        <label>
                                            <input type = "radio" ng-model = "manual.type" value = "Game">
                                            Game
                                        </label><br />
                                        <label>
                                            <input type = "radio" ng-model = "manual.type" value = "Others" ng-click = "manual.reason =''">
                                            Others
                                        </label>
                                    </div>
                                    <div ng-if = "manual.type == 'Game'">
                                        <select ng-options = "game as game.name + ' [' + game.points + '] ' for game in games track by game._id" ng-model = "manual.reason"></select>
                                    </div>
                                    <div ng-if = "manual.type == 'Others'">
                                        Points
                                        <input ng-model = "manual.points" id = "points" name = "points" class = "form-control" style = "margin-bottom: 10px" type = "text"
                                               placeholder = "Game Point Value" onclick = "clickEntry(this);">
                                        Reasons
                                        <input ng-model = "manual.reason" id = "reasons" name = "reasons" class = "form-control" style = "margin-bottom: 10px" type = "text"
                                               placeholder = "Reasons" onclick = "clickEntry(this);">
                                    </div>

                                    <p class = "text-center" ng-show = "loadingManual">
                                        <span class = "fa fa-spinner fa-spin fa-3x"></span>
                                    </p>

                                    <button type = "submit" class = "btn btn-default btn-lg" ng-click = "SubmitManual()" style = "width: 100%; background-color:#00254c; margin-top: 10px"
                                            ng-show = "!loadingManual"
                                            ng-disabled = "disableSubmit()">Submit
                                    </button>

                                    <div align = "center">
                                        <div class = "alert alert-success" ng-if = "messageManualCode == 1" style = "width: 300px ">
                                            {{messageManual}}
                                        </div>
                                        <div class = "alert alert-danger" ng-if = "messageManualCode == 2" style = "width: 300px ">
                                            {{messageManual}}
                                        </div>
                                    </div>


                                </div>
                                <p class = "text-center" ng-show = "loadingHist">
                                    <span class = "fa fa-spinner fa-spin fa-3x"></span>
                                </p>

                                <div style = "background-color: white">
                                    <table class = "table  table-hover"
                                           style = "width: 100%; color:black; text-shadow: none; margin-top: 50px">
                                        <thead>
                                            <tr class = "warning">
                                                <th style = "text-align: center">Assigned Date</th>
                                                <th style = "text-align: center">gtID</th>
                                                <th style = "text-align: center">Description</th>
                                                <th style = "text-align: center">Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat = "history in historyRecent">

                                                <td style = "vertical-align: middle">
                                                    {{history.created}}
                                                </td>
                                                <td style = "vertical-align: middle">
                                                    {{history._studentDetail.gtID}}
                                                </td>
                                                <td style = "vertical-align: middle">
                                                    {{history.description}}
                                                </td>
                                                <td style = "vertical-align: middle">
                                                    {{history.points}}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>


                                </div>
                            </form>
                        </div>
                        <!-- /.container -->


                    </div>
                    <!-- /.cover-inner -->

                </div>

                <modal title = "Manage Game" visible = "showModal" style = "text-shadow: none; color: black">
                    <div ng-show = "toggleD">
                        <p>
                            Are you sure you want to delete?
                        </p>

                        <p>
                            <strong>Game:</strong> {{editForm.name}}<br>
                            <strong>Date:</strong> {{editForm.date}}<br>
                            <strong>Points:</strong> {{editForm.points}}<br>
                        </p>

                        <p class = "text-center" ng-show = "editLoading">
                            <span class = "fa fa-spinner fa-spin fa-3x"></span>
                        </p>
                        <button style = "background-color: #ff4d4d" type = "submit" class = "btn btn-default" ng-click = "deleteGame(editForm.id)" ng-show = "!editLoading && messageCode == 0">Submit</button>
                        <div align = "center">
                            <div class = "alert alert-success" ng-if = "messageCode == 1" style = "width: 300px ">
                                {{editMessage}}
                            </div>
                            <div class = "alert alert-danger" ng-if = "messageCode == 2" style = "width: 300px ">
                                {{editMessage}}
                            </div>
                        </div>
                    </div>
                    <div ng-show = "toggleE">
                        Game
                        <input ng-model = "editForm.name" id = "name" name = "name" class = "form-control" style = "margin-bottom: 10px"
                               type = "text"
                               placeholder = "Game" onclick = "clickEntry(this);">
                        Date
                        <input ng-model = "editForm.date" id = "description" name = "description" class = "form-control" style = "margin-bottom: 10px"
                               type = "text"
                               placeholder = "Date" onclick = "clickEntry(this);" disabled>
                        Points
                        <input ng-model = "editForm.points" id = "price" name = "price" class = "form-control" style = "margin-bottom: 10px"
                               onkeypress = "return isNumberKey(event)" type = "text"
                               placeholder = "Points" maxlength = "4" onclick = "clickEntry(this);" disabled>


                        <p class = "text-center" ng-show = "editLoading">
                            <span class = "fa fa-spinner fa-spin fa-3x"></span>
                        </p>
                        <button style = "background-color: #27ae60" type = "submit" class = "btn btn-default" ng-click = "editGame(editForm.id)" ng-show = "!editLoading && messageCode == 0">Save</button>
                        <div align = "center">
                            <div class = "alert alert-success" ng-if = "messageCode == 1" style = "width: 300px ">
                                {{editMessage}}
                            </div>
                            <div class = "alert alert-danger" ng-if = "messageCode == 2" style = "width: 300px ">
                                {{editMessage}}
                            </div>
                        </div>
                    </div>
                </modal>

                <!-- /.cover-container -->
            </div>

        </div>
        <!-- /.cover-wrapper -->


    </body>

    <footer id = "footer">
        <% include partials/page/footer.ejs %>
    </footer>

    <script src = "../../file-input/js/fileinput.min.js"></script>

    <script>
        var myApp = angular.module('uploadModule', []);
        myApp.controller('uploadCtrl', ['$scope', 'multipartForm', '$http', function ($scope, multipartForm, $http) {
            $scope.status = "Upload File";
            $scope.manual = {};
            $scope.manual.type = 'Game'
            $scope.finished = false;
            $scope.loading = false;
            $scope.loadingGame = true;
            $scope.loadingHist = true;
            $scope.showModal = false;
            $http.get('/api/game-summary/').success(function (data) {
                $scope.loadingGame = false;
                $scope.games = data.game;
            });
            $http.get('/api/history-recent/').success(function (data) {
                $scope.loadingHist = false;
                $scope.historyRecent = data.historyRecent;
            });
            $scope.toggleD = false;
            $scope.toggleE = false;


            $scope.loadingManual = false;
            $scope.SubmitManual = function () {
                $scope.loadingManual = true;
                $http.post('/api/manual-points/', $scope.manual).success(function (data) {
                    $scope.loadingManual = false;
                    $scope.messageManual = data.messageManual;
                    $scope.messageManualCode = data.messageManualCode;
                    $scope.historyRecent = data.historyRecent;
                });
            }
            $scope.disableSubmit = function () {
                if ($scope.manual.gtid == undefined || $scope.manual.gtid == '') {
                    return true;
                }
                if ($scope.manual.type == 'Game') {
                    if ($scope.manual.reason == undefined || $scope.manual.reason == '') {
                        return true;
                    }
                }
                if ($scope.manual.type == 'Others') {
                    if ($scope.manual.reason == undefined || $scope.manual.reason == '') {
                        return true;
                    }
                    if ($scope.manual.points == undefined || $scope.manual.points == '') {
                        return true;
                    }
                }
                return false;
            }
            $scope.toggleDelete = function (game) {
                $scope.toggleD = true;
                $scope.toggleE = false;
                $scope.showModal = !$scope.showModal;
                $scope.editForm = {};
                $scope.messageCode = 0;
                $scope.editForm.id = game._id;
                $scope.editForm.date = game.date;
                $scope.editForm.name = game.name;
                $scope.editForm.points = game.points;
            };
            $scope.toggleEdit = function (game) {
                $scope.toggleD = false;
                $scope.toggleE = true;
                $scope.showModal = !$scope.showModal;
                $scope.editForm = {};
                $scope.messageCode = 0;
                $scope.editForm.id = game._id;
                $scope.editForm.date = game.date;
                $scope.editForm.name = game.name;
                $scope.editForm.points = game.points;
            };
            $scope.editGame = function (gameid) {
                $scope.editLoading = true;
                $http.post('/api/game-summary/', $scope.editForm).success(function (response) {
                    $scope.editLoading = false;
                    $scope.editMessage = response.message;
                    $scope.messageCode = response.messageCode;
                    $scope.games = response.game;
                });
            };

            $scope.deleteGame = function (gameid) {
                $scope.editLoading = true;
                $http.delete('/api/game-summary/' + gameid).success(function (response) {
                    $scope.editLoading = false;
                    $scope.editMessage = response.message;
                    $scope.messageCode = response.messageCode;
                    $scope.games = response.game;
                });
            };

            $scope.Submit = function () {
                $scope.finished = false;
                $scope.loading = true;
                var uploadUrl = '/upload-points';
                $scope.status = "Processing";
                multipartForm.post(uploadUrl, $scope.excel, $scope);
            }
        }]);

        myApp.service('multipartForm', ['$http', function ($http) {
            this.post = function (uploadUrl, data, scope) {

                var fd = new FormData();
                for (var key in data) {
                    fd.append(key, data[key]);
                }
                $http.post(uploadUrl, fd, {
                    transformRequest: angular.identity,
                    headers: {'Content-Type': undefined}
                }).success(function (response) {
                    scope.status = response.message;
                    scope.loading = false;
                    scope.finished = true;
                    scope.games = response.game;
                });
            }
        }]);

        myApp.directive('fileModel', ['$parse', function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;

                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }]);

        myApp.directive('modal', function () {

            return {
                template: '<div class="modal fade">' +
                '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
                '<h4 class="modal-title">{{ title }}</h4>' +
                '</div>' +
                '<div class="modal-body" ng-transclude></div>' +
                '</div>' +
                '</div>' +
                '</div>',
                restrict: 'E',
                transclude: true,
                replace: true,
                scope: true,
                link: function postLink(scope, element, attrs) {

                    scope.title = attrs.title;

                    scope.$watch(attrs.visible, function (value) {
                        if (value == true) {
                            $(element).modal('show');
                        }
                        else
                            $(element).modal('hide');
                    });

                    $(element).on('shown.bs.modal', function () {
                        scope.$apply(function () {
                            scope.$parent[attrs.visible] = true;
                        });
                    });

                    $(element).on('hidden.bs.modal', function () {
                        scope.$apply(function () {
                            scope.$parent[attrs.visible] = false;
                        });
                    });
                }
            };
        });
        function clickEntry(input) {
            var disMouse = document.getElementById(input.id);
            disMouse.addEventListener("mousewheel", function (evt) {
                evt.preventDefault();
            });
        }

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
    </script>
</html>