<section class="sub-footer">
    <div class="container">
        <div class="row">

            <h3 class="hidden">About</h3>

            <div class="col-xs-12">

                <span style="color:#999; font-size: 13px; float: right">&copy; 2015 NavLit | Your Global Friends of Travel</span>
                <span style="color:#999; font-size: 13px; float: left">E: team@navlit.com | P: 404-536-4247</span>
            </div>
        </div>
    </div>
</section>