<div class="navbar-wrapper">
    <header class="navbar navbar-default navbar-fixed-top" id="MainMenu" style="background-color: #00254C;">

        <div class="container-fluid collapse-md" id="navbar-main-container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><img alt="GTRewards"
                                                      src="assets/images/gtlogo.png"><span
                            class="sr-only">&nbsp; NavLit!</span></a>
                <button class="navbar-toggle" type="button"
                        data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <nav class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li class="menu-item"><a href="leaderboard">LEADERBOARD</a></li>
                    <li class="menu-item"><a href="prize">PRIZE STORE</a>
                    <li class="menu-item"><a href="/schedule">SCHEDULE</a>
                    <li class="menu-item"><a href="/upload-registration">UPLOAD(R)</a>
                    <li class="menu-item"><a href="/upload-points">UPLOAD(P)</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /.container-fluid -->
    </header>
</div><!-- /.navbar-wrapper -->